.lead__caprion {
  margin: 8px 0 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 10px;
}

@media screen and (max-width: 1023px) {
  .lead__caprion {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caprion {
    padding-left: 16px;
    line-height: 14px;
  }
}
