.cover__overlay {
  text-decoration: none;
  background: url("./../../../image/Baykal_cover.jpg") no-repeat center;
  background-size: auto;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0.3;
  transition: 0.8s;
}
.cover__overlay:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}
