@import url("./__links/footer__links.css");
@import url("./__link/footer__link.css");
@import url('./__copyright/footer__copyright.css');
@import url('./__column/footer__column.css');

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 0 48px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-left: 16px;
  }